<div id="logo">
    <br>
</div>

<div>
    <div id="Title">
        <h1>[FCLM] Fifth Column Gaming </h1>
        <p>This page keeps track of the kills and deaths of [FCLM] players</p>
    </div>
</div>
<div id="background">
<div class="buffer">
    <br>
</div>
<div id="content">
    <div id="outfit" class="tableDiv">
        <h3>FCLM Players:</h3>
        <table id="outfitTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Player</th>
                    <th>Battle Rank</th>
                    <th>Tracked Kills</th>
                    <th>Tracked Deaths</th>
                    <th>Tracked KDR</th>
                </tr>
            </thead>
            <tbody>
            {{#each tracked}}
                <tr>
                    <td>{{this.character_id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.rank}}</td>
                    <td>{{this.kills}}</td>
                    <td>{{this.deaths}}</td>
                    <td>{{kdr this.kills this.deaths}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <br>
    <div id="kills" class="tableDiv">
        <h3 id="killsTitle">Players FCLM kills:</h3>
        <table id="killsTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Player</th>
                    <th>Outfit</th>
                    <th>Kills of FCLM</th>
                    <th>Deaths to FCLM</th>
                    <th>KDR against FCLM</th>
                </tr>
            </thead>
            <tbody>
                {{#each characters}}
                    {{#if this.deaths}}
                    <tr>
                        <td>{{this.character_id}}</td>
                        <td>{{this.outfit_id}}</td>
                        <td>{{this.name}}</td>
                        <td>{{this.kills}}</td>
                        <td>{{this.deaths}}</td>
                        <td>{{kdr this.kills this.deaths}}</td>
                    </tr>
                    {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>
    <br>
    <div id="deaths" class="tableDiv">
        <h3 id="deathsTitle">Players FCLM dies to:</h3>
        <table id="deathsTable">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Player</th>
                    <th>Outfit</th>
                    <th>Kills of FCLM</th>
                    <th>Deaths to FCLM</th>
                    <th>KDR against FCLM</th>
                </tr>
            </thead>
            <tbody>
            {{#each characters}}
                {{#if this.kills}}
                <tr>
                    <td>{{this.character_id}}</td>
                    <td>{{this.outfit_id}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.kills}}</td>
                    <td>{{this.deaths}}</td>
                    <td>{{kdr this.kills this.deaths}}</td>
                </tr>
                {{/if}}
            {{/each}}
            </tbody>
        </table>
    </div>
    <div id="bases" class="tableDiv">
        <h3 id="baseTitle">FCLM Base Captures:</h3>
        <table id="baseTable">
            <thead>
            <tr>
                <th>#</th>
                <th>Base</th>
                <th>Type</th>
                <th>Captures</th>
            </tr>
            </thead>
            <tbody>
            <div>
            {{#each bases}}
                <tr>
                    <td>{{this.base_id}}</td>
                    <td>{{this.base_name}}</td>
                    <td>{{this.base_type}}</td>
                    <td>{{this.captures}}</td>
                </tr>
            {{/each}}
            </div>
            </tbody>
        </table>
    </div>
</div>
<div class="buffer">
    <br>
</div>
</div>
